@import url('https://v1.fontapi.ir/css/SFProDisplay:400');

:root {
    --amber: #ffbe0bff;
    --orange-pantone: #fb5607ff;
    --winter-sky: #ff006eff;
    --blue-violet: #8338ecff;
    --azure: #3a86ffff;
}

* {
    font-family: 'SF Pro Display', sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--blue-violet);
    color: aliceblue;
}

#home a {
    text-decoration: none;
    color: aliceblue;
    display: block;
    padding: 2rem;
    margin: auto;
    background-color: var(--azure);
    width: 800px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

#home p {
    margin: auto;
    text-align: center;
    background-color: beige;
    width: 800px;
    padding: 2rem;
    margin-bottom: 1rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    font-size: large;
    font-weight: 500;
    color: black;
}

#home p.summary {
    padding: 1rem;
    background-color: var(--blue-violet);
    font-weight: 800;
    color: aliceblue;
}

#home h1 {
    text-align: center;
    background-color: var(--azure);
    padding: 6rem;
}

#home .container {
    display: flex;
    flex-direction: column;
}

#page-1 .nav {
    display: flex;
    background-color: var(--azure);
    height: 100px;
    align-items: flex-end;
}

#page-1 .nav a{
    text-decoration: none;
    padding: 5px;
    flex-shrink: 1;
    color: aliceblue;
    font-size: large;
    font-weight: 400;
}

#page-1 .nav a.current {
    font-weight: bolder;
}

#page-1 .nav h1 {
    flex-grow: 1;
    align-self: flex-start;
}

#page-1 p {
    font-size: large;
    font-weight: bold;
    padding: 0.5rem;
    text-align: center;
}

#page-1 input {
    display: block;
    margin: auto;
    border-radius: 0.5rem;
    padding: 0.3rem;
}

#page-1 label {
    margin: auto;
    font-size: large;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 0.5rem;
}

#page-1 button {
    margin: auto;
    display: block;
    text-align: center;
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    background-color: var(--azure);
    border: 1px transparent;
}

#page-1 #output {
    display: block;
    border: 2px solid white;
    width: 300px;
    height: 100px;
    margin: auto;
    margin-top: 1rem;
    background-color: beige;
    color: black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 14%;
}

#page-2 .nav {
    display: flex;
    background-color: var(--azure);
    height: 100px;
    align-items: flex-end;
}

#page-2 .nav a{
    text-decoration: none;
    padding: 5px;
    flex-shrink: 1;
    color: aliceblue;
    font-size: large;
    font-weight: 400;
}

#page-2 .nav a.current {
    font-weight: bolder;
}

#page-2 .nav h1 {
    flex-grow: 1;
    align-self: flex-start;
}

#page-2 p {
    font-size: large;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
}

#page-2 #output {
    display: block;
    border: 2px solid white;
    width: 300px;
    height: 100px;
    margin: auto;
    margin-top: 1rem;
    background-color: beige;
    color: black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 6%;
}

#page-2 label {
    margin: auto;
    font-size: large;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 0.5rem;
}

#page-2 button {
    margin: auto;
    display: block;
    text-align: center;
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    background-color: var(--azure);
    border: 1px transparent;
}

#page-3 .nav {
    display: flex;
    background-color: var(--azure);
    height: 100px;
    align-items: flex-end;
}

#page-3 .nav a{
    text-decoration: none;
    padding: 5px;
    flex-shrink: 1;
    color: aliceblue;
    font-size: large;
    font-weight: 400;
    text-align: center;
}

#page-3 .nav a.current {
    font-weight: bolder;
}

#page-3 .nav h1 {
    flex-grow: 1;
    align-self: flex-start;
}

#page-3 p {
    font-size: large;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
    max-width: 70%;
    margin: auto;
}

#page-3 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#page-3 #output-box {
    display: block;
    border: 2px solid white;
    width: 300px;
    height: 100px;
    margin: auto;
    margin-top: 1rem;
    background-color: beige;
    color: black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 2rem;
}

#page-3 h2,h3 {
    text-align: center;
    padding: 0.5rem;
}


#page-3 label {
    margin: auto;
    font-size: large;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 0.5rem;
}

#page-3 input {
    display: block;
    margin: auto;
    border-radius: 0.5rem;
    padding: 0.3rem;
}

#page-3 button {
    margin: auto;
    display: block;
    text-align: center;
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    background-color: var(--azure);
    border: 1px transparent;
}

/* Page4 */

#page-4 .nav {
    display: flex;
    background-color: var(--azure);
    height: 100px;
    align-items: flex-end;
}

#page-4 .nav a{
    text-decoration: none;
    padding: 5px;
    flex-shrink: 1;
    color: aliceblue;
    font-size: large;
    font-weight: 400;
    text-align: center;
}

#page-4 .nav a.current {
    font-weight: bolder;
}

#page-4 .nav h1 {
    flex-grow: 1;
    align-self: flex-start;
}

#page-4 p {
    font-size: large;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
    max-width: 70%;
    margin: auto;
}

#page-4 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#page-4 #output-box {
    display: block;
    border: 2px solid white;
    width: 300px;
    height: 100px;
    margin: auto;
    margin-top: 1rem;
    background-color: beige;
    color: black;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

#page-4 h2,h3 {
    text-align: center;
    padding: 0.5rem;
}


#page-4 label {
    margin: auto;
    font-size: large;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 0.5rem;
}

#page-4 input {
    display: block;
    margin: auto;
    border-radius: 0.5rem;
    padding: 0.3rem;
}

#page-4 button {
    margin: auto;
    display: block;
    text-align: center;
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    background-color: var(--azure);
    border: 1px transparent;
}

#footer {
    all: revert;
    position: relative;
    bottom:0;
    width: 100%;
}

#footer p {
    all: revert;
    text-align: center;
    background-color: var(--azure);
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 1rem;
    font-size: large;
    font-weight: 400;
}

#footer .social {
    all: revert;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    background-color: var(--azure);
    margin-bottom: 0;
    margin-top: 0;
}

#footer .social p {
    all: revert;
    flex-grow: 1;
    margin-top: 20px;
    font-size: large;
    font-weight: 600;
}

#footer .social li {
    list-style: none;
    display: inline-block;
    padding: 1rem;
}

#footer .social a {
    all: revert;
    text-decoration: none;
    color: black;
}

#footer .social img {
    all: revert;
    width: 30px;
    height: 30px;
}